<a href="#">
    <div class="place-info-box">
      <span class="place-info-box-icon"><img class="img-responsive" src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"/></span>

      <div class="place-info-box-content">
        <span class="place-info-box-text">{{comic.title}}</span>
        <span class="place-info-box-star"> </span>
        <span class="place-info-box-detail"></span>
        <span class="place-info-box-detail"></span>
      </div>
      <!-- /.info-box-content -->
    </div>
</a>
