.place-info-box{
    height: 200px;
}
div .imagem{
    margin: 10px;
    height: 180px;
}
.imagemOriginal{
    height: 180px;
}

.texto{
    text-align: left;
    margin: 10px;
}
.btn-delete{
    margin-bottom: 10px;
    margin-top: 0;
}
.btn-edit{
    margin-right: 10px; 
}
.image-preview{
    border: 2px dashed grey !important;
    text-align: center !important;
    background-color: #eaeaea;
    height: 420px;
    padding: 10px;
}
img{
    max-width: 99%;
    max-height: 99%;
}