.imagem{
    height: 180px;
    width:130px;
    margin:10px;
}
.caixa{
    width: 400px;
    height: 200px;
}

.caixa img{
    height: 180px;
    width: 130px;
}
.texto{
    text-align: left;
    margin: 10px;
    margin-right: 10px;
}

.carregando-frase{
    position: absolute;
    top: 1rem;
    left: 100%;
    color: black;
}
