<!-- INICIO DO CONTEUDO -->
<div class="col-xs-12 col-sm-6">
    <div *ngIf="!stories.length">
      <p class="text-center">Nao ha stories para esse comic!</p>
    </div>
    <div *ngIf="stories.length">
    <div class="menu-item-info-box caixa" *ngFor="let item of stories | async" >
      <span class="menu-item-info-box-icon imagem">
        <img src="{{item?.thumbnail?.path}}.{{item?.thumbnail?.extension}}">
      </span>


      <div class="menu-item-info-box-content">
        <span class="menu-item-info-box-text">{{item?.title}}</span>
        <span class="menu-item-info-box-detail">{{item?.description}}</span>
        <span class="menu-item-info-box-price"></span>
      </div>
    <!-- /.info-box-content -->
      <div>
    </div>  
      
</div>

  <!--FIM DO CONTEUDO -->
