
<div class="col-xs-12 col-sm-6" >

    <div *ngIf="!stories"  class="carregando-frase">
        <img src="assets/img/loading.gif" alt="" class="img-fluid img" height="50" width="50">
    </div>
    <div  style="display: none" *ngIf="!stories">
      <p class="text-center">Nao ha stories para esse comic!</p>
    </div>
    <div>
      <div *ngFor="let item of stories" >
        <div class="card-item-info-box caixa"  *ngIf="!item.title !== ''">
          <div class="card-item-info-box-content">
            <span class="card-item-info-box-text">{{item?.title}} - {{item?.type}}</span>
          </div>
        <div>
      </div>
    </div>  
      
</div>


