.imagem{
    height: 120px;
    width:120px;
    margin:10px;
}
.caixa{
    width: 800px;
    height: 142px;
}

img{
    height: 120px;
    width: 120px;
}
.texto{
    margin: 10px;
    margin-right: 10px;
}
.card-item-info-box-detail{
    width: 95%;
    text-align: justify;
}