div .imagem{
    margin: 10px;
    height: 250px;
}

.detail-active{
    border-bottom: 2px solid red;
}
.detail-footer > a{
    width: 33.3%;
}

.carregando{
    width: 10000vh;
    height: 10000vh;
    display: inline-block;
    position: absolute;
    top: -10000px;
    left: -10000px;
    background-color: rgba(192,192,192,.5);
    z-index: 1;
    overflow: hidden;
}
.carregando-frase{
    position: absolute;
    top: 45%;
    left: 45%;
    color: black;
    
}