
.carregando-frase{
    position: absolute;
    top: 1rem;
    left: 100%;
    color: black;
    z-index: 1;
}
.card-item-info-box-content{
    margin-left: 10px; 
}
.caixa{
    height: 50px;
}
.card-item-info-box{
    min-height: 50px;
}

.text-editado{
    margin-right: -500px;
}

.btn-delete,
.btn-edit{
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100px;
}

.card-item-new{
    margin-bottom: 15px;
    height: 85px;
}
.btn-edit{
    margin-right: 5px;
}