 <!-- INíCIO do CONTEÚDO -->
      
      
<div *ngIf="!comics"  class="carregando-imagem">
  <img src="assets/img/load.gif" alt="" class="img-fluid">
</div>
<div *ngIf="!comics" class="carregando">
</div>
<section class="content-header row">
  <div class="col-sm-12">
    <h1 class="titulo">
      Todos os Comics
      <button class="btn btn-danger pull-right align-bottom" data-toggle="modal" data-target="#exampleModal">Adicionar comic</button>
    </h1>
    
  </div>
  
</section>

<section class="content">

  <div class="row">
     
          <div class="col-sm-6 col-xs-12" *ngFor="let comic of comics">
            <script> console.log(comic)</script>
            <mr-comic [comic]="comic"></mr-comic>
            <div *ngIf="!comics"  class="carregando-frase">
                <img src="assets/img/loading.gif" alt="" class="img-fluid img" height="50" width="50">
              </div>
          </div>     
                 
  </div>

</section>


<!-- FIM  do CONTEÚDO -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title title-modal">Cadastro Comic
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Titulo:</label>
              <input type="text" class="form-control" id="title-comic">
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Imagem:</label>
                <input type="file" class="form-control" id="image-comic" accept="image/*" (change)="getImagem($event, imagem)">
              </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Descrição:</label>
              <textarea class="form-control" id="desc-comic"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger" id="registerComic">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>